* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
}

.header {
  background-color: #13293d;
  color: white;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header h1 {
  display: inline-block;
  font-size: 30px;
  padding: 20px;
}

.header nav {
  padding-top: 25px;
  margin-right: 20px;
  float: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.hero {
  /* background-image: url("../images/alligator.jpg"); */
  background-size: cover;
  min-height: 50vh;
  background-position: center;
}

.hero img {
 width: 450px;

}

.container {
  flex-wrap: wrap;
  position: relative;
  text-align: center;
  border: 10px solid rgb(106, 163, 198);
  margin-left: 200px;
  margin-right: 35px;
}

.bottom-left {
position: absolute;
bottom: 24px;
left: 0px;
background-color: rgb(106, 163, 198);
}





/* .about-me {
  display: block;
  object-fit: contain;
}

#project-1 {
  position: relative;
  left: 200px;
} */

.work-section {
  /* width: 200px; */
/* margin: 10px; */ */
  border: 10px solid I#333;
  background-color: black;
} 

.work-section:first-child{
  max-width: 50%;
}

flex column row

.work-section img{
  max-width: 100%;
}

.project-1 {
 min-height: 100px;
}

.project-1 img {
  display: block;
  max-width: 100%;
  object-fit: fill;
}

.project-2 {
  min-width: none;
  /* max-height: 30px; */
  width: 50px !important;
}

.project-2 img {
  display: block;
  height: 30vh;
  width: 100%;
  object-fit: fill;
}

.project-3 {
  min-width: none;
  max-width: 100%;
}

.project-3 img {
  display: block;
  height: 30vh;
  width: 100%;
  object-fit: fill;
}

.project-4 {
  min-width: none;
  max-width: 100%;
}

.project-4 img {
  display: block;
  height: 30vh;
  width: 100%;
  object-fit: fill;
}

.project-5 {
  min-width: none;
  max-width: 100%;
}

.project-5 img {
  display: block;
  height: 30vh;
  width: 100%;
  object-fit: fill;
}

.contact-me {
  background-color: #13293d;
  color: white;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-me h3 {
  display: inline-block;
  font-size: 30px;
  padding: 20px;
}

.contact-me nav {
  padding-top: 25px;
  margin-right: 20px;
  float: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.contact-me ul {
  list-style-type: none;
}

.contact-me ul li {
  display: inline-block;
  margin-left: 25px;
}