
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(106, 163, 198);
}

.header {
  background-color: #13293d;
  color: white;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header h1{
display: inline-block;
font-size: 30px;
padding: 20px;
}

.header nav {
  padding-top: 25px;
  margin-right: 20px;
  float: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

#project-1{
  position: relative;
  left: 200px;
}

.project-1 {
  width: 200px;
  margin: 10px;
  border: 3px solid I#333;
  background-color: white;
}

.project-1 img{
  display: block;
  height: 80%;
  width: 80%;
  object-fit: contain;
}

.project-2 {
  width: 200px;
  margin: 10px;
  border: 3px solid I#333;
  background-color: white;
}

.project-2 img{
  display: block;
  height: 80%;
  width: 80%;
  object-fit: contain;
}

.project-3 {
  width: 200px;
  margin: 10px;
  border: 3px solid I#333;
  background-color: white;
}

.project-3 img{
  display: block;
  height: 80%;
  width: 80%;
  object-fit: contain;
}

.project-4 {
  width: 200px;
  margin: 10px;
  border: 3px solid I#333;
  background-color: white;
}

.project-4 img{
  display: block;
  height: 80%;
  width: 80%;
  object-fit: contain;
}

.project-5 {
  width: 200px;
  margin: 10px;
  border: 3px solid I#333;
  background-color: white;
}

.project-5 img{
  display: block;
  height: 80%;
  width: 80%;
  object-fit: contain;
}