* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(152, 165, 189);
}

.header {
  background-color: #13293d;
}


.header h1 .name {
  padding: 20px;
  text-align: right;
  color: #fff;
}

.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;

}

img{
  height: 80%;
  width: 80%;
  object-fit: contain;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.project-1 img{
  display: block;
  height: 80%;
  width: 80%;
  object-fit: contain;
}

.project-1{
  height: 400px;
  width: 400px;
}

.project-2 img{
  height: 80%;
  width: 80%;
  object-fit: contain;
}

.project-2{
  height: 400px;
  width: 400px;
}

.project-3 img{
  height: 80%;
  width: 80%;
  object-fit: contain;
}

.project-3{
  height: 400px;
  width: 400px;
}


.project-4 img{
  height: 80%;
  width: 80%;
  object-fit: contain;
}

.project-4{
  height: 400px;
  width: 400px;
}

.project-5 img{
  height: 80%;
  width: 80%;
  object-fit: contain;
}

.project-5{
  height: 400px;
  width: 400px;
}